# Mappings
## Ubuntu 
###<extension> ; <source> ; <destination> ; <backup_mode> ; <options> ; <operating_system/environment>
    ;                   ;                                                 ;     environment     ;  auto         ;       
    ;                   ;                                                 ;     log_path        ;  /home/eddy/Desktop/Ubuntu_Backup/Logs/   ;    Ubuntu    ;
*   ;   /home/          ;   /media/eddy/Seagate Expansion Drive/Backup/   ;     base_path       ;               ;   Ubuntu  ;
*   ;   App/            ;   App/                                          ;     copy            ;  recursive    ;   Ubuntu  ;
*   ;   AppData/        ;   AppData/                                      ;     copy            ;               ;   Ubuntu  ;
*   ;   Code/           ;   Code/                                         ;     copy            ;               ;   Ubuntu  ;
*   ;   Desktop/        ;   Desktop/                                      ;     sync            ;               ;   Ubuntu  ;
*   ;   Documents/      ;   Documents/                                    ;     sync            ;               ;   Ubuntu  ;
iso ;   Downloads/      ;   Downloaded/                                   ;     cut             ;               ;   Ubuntu  ;
sh  ;   Downloads/      ;   Downloaded/                                   ;     copy            ;               ;   Ubuntu  ;
deb ;   Downloads/      ;   Downloaded/                                   ;     cut             ;               ;   Ubuntu  ;
*   ;   Downloads/      ;   Downloads/                                    ;     sync            ;               ;   Ubuntu  ;
*   ;   Music/          ;   Music/                                        ;     sync            ;               ;   Ubuntu  ;
*   ;   Pictures/       ;   Pictures/                                     ;     sync            ;               ;   Ubuntu  ;
*   ;   Videos/         ;   Videos/                                       ;     copy            ;               ;   Ubuntu  ;
## Windows
###<extension> <source> ; <destination> ; <backup_mode> ; <operating_system/environment>
*   ;   /home/          ;   /media/eddy/Seagate Expansion Drive/Backup/   ;     base_path       ;               ;   Windows
*   ;   App/            ;   App/                                          ;     copy            ;               ;   Windows
*   ;   AppData/        ;   AppData/                                      ;     copy            ;               ;   Windows
*   ;   Code/           ;   Code/                                         ;     copy            ;               ;   Windows
*   ;   Desktop         ;   Desktop                                       ;     sync            ;               ;   Windows
*   ;   Documents       ;   Documents                                     ;     sync_safety     ;               ;   Windows
iso ;   Downloads       ;   Downloaded                                    ;     cut             ;               ;   Windows
sh  ;   Downloads       ;   Downloaded                                    ;     copy            ;               ;   Windows
deb ;   Downloads       ;   Downloaded                                    ;     cut             ;               ;   Windows
*   ;   Downloads       ;   Downloads                                     ;     sync            ;               ;   Windows
*   ;   Music           ;   Music                                         ;     sync            ;               ;   Windows
*   ;   Pictures        ;   Pictures                                      ;     sync_safety     ;               ;   Windows
*   ;   Videos          ;   Videos                                        ;     copy            ;               ;   Windows

# Definitions
## Possible backup_mode
### base_path       // must be the first row for a specific environment (all the following rows belong to that environment, until a new one is defined with another base_path row)
### sync            // 1 to 1 relation
### copy            // copy source to destination 
### cut             // cut source to destination
### restore         // restore all files in the destination to the source 

## Possible options 
### leave blank, apply base_copy option
### base_copy option, when encounter a folder copy it without any control
### recursive option, apply on subfolder the backup_mode
### you can specify multiple options using this syntax  <option1>, <option2>, ... 

## Rules 
### The backups are stored in the path: <base_path>/<operating_system/environment>/<destination>
### When you specify a common prefix for more than one path always wins the most specific path
### By default the script detects the current os with the instruction: platform.system(), if u want to specify a different environment you need to change 
### 'auto' with the name of your custom environment in line 2 of this file 

## Todo 
### Loader bar to define the percentage of the operations