# Mappings
## Ubuntu 
###<extension> ; <source> ; <destination> ; <backup_mode> ; <options> ; <operating_system/environment>
    ;                   ;                                                 ;     environment     ;  auto         ;       
    ;                   ;                                                 ;     log_path        ;  /home/eddy/Desktop/BackupUtility/Logs/   ;    Ubuntu    ;
*   ;   /home/eddy/Desktop/source/          ;  /home/eddy/Desktop/destination/  ;     base_path       ;               ;   Ubuntu  ;
*   ;   App/            ;   App/                                          ;     copy            ;  recursive    ;   Ubuntu  ;
*   ;   App/folder/     ;   App/cazzi/                                          ;     copy            ;  recursive    ;   Ubuntu  ;
.deb;   App/            ;   App/installer/                                      ;     copy            ;  recursive    ;   Ubuntu  ;
.sh ;   App/            ;   App/executables/                                      ;     copy            ;  recursive    ;   Ubuntu  ;
*   ;   App/folder3/    ;   App/folder3/                                      ;     copy            ;  recursive    ;   Ubuntu  ;